<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Administrace</title>

<!-- CSS -->
<link href="{$basePath}/css/admin.css" rel="stylesheet" type="text/css" media="screen" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="style/css/ie6.css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="style/css/ie7.css" /><![endif]-->

<!-- JavaScripts-->
<script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
	<link rel="stylesheet" href="{$basePath}/css/admin.css">
</head>
<body>

	

	<div id="header">
			
		<div class="shell">
			<div id="head">
				<h1><a href="#">Administrace worldofcubes.eu</a></h1>
				<div class="right">
					<p>
						 Vítej <strong>{$user->Identity->username}</strong> | 
						 Role <strong> {$user->Identity->role}</strong> | 
						<a n:href=":Front:Page:Admin">Zpět na web</a> |
						<a n:href=":Front:Sign:out">Odhlásit se</a>
					</p>
				</div>
			</div>
			

			<div id="navigation">
				<ul>
					<li><a n:href="homepage:default"{ifCurrent homepage:default } class="active" {/ifCurrent}><span>Dashboard</span></a></li>
					<li><a n:href="blog:default"{ifCurrent blog:default } class="active" {/ifCurrent}><span>Blog</span></a></li>
					<li><a n:href="users:default"{ifCurrent users:default } class="active" {/ifCurrent}><span>Uživatelé</span></a></li>
					<li><a n:href="support:default"{ifCurrent support:default } class="active" {/ifCurrent}><span>Tiketová podpora</span></a></li>
					<li><a n:href="credit:default"{ifCurrent credit:default } class="active" {/ifCurrent}><span>Coins</span></a></li>
					<li><a n:href="role:default"{ifCurrent role:default } class="active" {/ifCurrent}><span>Role</span></a></li>					

				</ul>
			</div>

			
		</div>
	</div>

	<div id="content" class="shell">
                	<div n:if="count($flashes)>0" id="flashmessages">
    <div n:foreach="$flashes as $flash"
         class='message {$flash->type}'> <p>{$flash->message}</p>
    </div>
</div>
{include #content}
</div>


<div id="footer">
	<p>Vyrobyl shifi a snoop_cz !</a></p>
</div>

</body>
{block scripts}
    <script src="{$basePath}/js/jquery.js"></script>
    <script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/main.js"></script>
{/block}
</body>
</html>