{block content}
<div id="help-nav">
			<a n:href="blog:default">Blog</a> &gt; editace
		</div>
		
		<h6 class="red">Editovat článek</h6>	
{control postForm}
                </div>
                <!-- // #main -->
                
                <div class="clear"></div>
            </div>
            <!-- // #container -->
        </div>

{/block}
