{block content}
<div id="help-nav">
			<a n:href="blog:default">Blog</a> &gt; napsat nový
		</div>
		
		<h6 class="red">Nový článek</h6>	
				{control postForm} 
                </div>
                <!-- // #main -->
                
                <div class="clear"></div>
            </div>
            <!-- // #container -->
        </div>

{/block}
