{block content}
<h2 n:block=title>Příjmout pravidla serveru</h2>
<p>Při zakoupení kreditu souhlasíte s pravidli serveru (obchodní podmínky) .</p>
<p>SMS platby technicky zajišťuje xpay.cz a agmo . Reklamace a řešení problémů s platbou, www.xpay.cz Infolinka +420 736 760 798.
<p><a n:href="panel:credit" ><input type="button" class="tlacitko" value="Souhlasím , chci pokračovat"></a></p>
{/block}