{block content}
<h2 n:block=title>Informace o účtu</h2>

<p>Váš herní nick : <b>{$user->identity->username}</b></p>
<p>Vaše IP : <b>{$user->identity->ip}</b></p>
<p>Kredit : <b>{$user->identity->balance}</b></p>
<p>Mapa : <b>{$user->identity->world}</b><p/>
<p>Pozice x : <b>{$user->identity->x}</b><p/>
<p>Pozice y : <b>{$user->identity->y}</b><p/>
<p>Pozice z : <b>{$user->identity->z}</b><p/>
{/block}