{* Latte template *}
{block content}
<h2 n:block=title>O nás</h2>

Worldofcubes byl založen začátkem roku 2013 (majitel Twinky) , jako wordik.eu server se zaměřěním na herobrin mod (byl to první český server s tímto modem) . Server který byl neustále zaplněný začal upadat . Změna ve vedení majitel shifi a twinky .  Herobrin mod byl zrušen a serverové zaměření vannila s RpG . Kolem července roku 2014 došlo k odtržení a vznikl worldofcubes.eu . Takhle začíná worldofcubes.eu  , došlo k zásadním úpravam , změně hostingu , uzavřeno spojení s portálem minestory , změna týmu . Současný majitel je shifi .
{/block}