{* Latte template *}
{block content}
<h2 n:block=title>Jak se přihlásit ?</h2>

Připojte se na server a napiště příkaz /register heslo znova_heslo . Pokut již účet máte tak se na web přihlašte údajeme jako od serveru .
{/block}