{* Latte template *}
{block content}
<h2 n:block=title>Naše servery</h2>

<h3>Second World</h3>
<p>Hra : Minecraft</p>
<p>Sloty : 15</p>
<p>Whitelist : nie</p>
<p>Verze : 1.7.10.</p>
<p>Popis serveru : Cool server</p>
<p>*Tento server je modováný , pokut si chcete stáhnout modpack klikněte níže .</p>
<spiner><p><a n:href="page:error" ><input type="button" class="tlacitko otevrit" value="Více o tomto serveru"></a></p></spiner>
{/block}