{block content}
<h2 n:block=title>Jeden účet ke všemu</h2>
<p>Jedna registrace na jeden z našich minecraft serverů a máte hotovo . Až dokončíte registraci na našem minecraft serveru tak stejnými údaji se přihlašte . Jednoduší to být nemůže ne ?</p>
{control signInForm}

{* or use {include '../components/form.latte', form => signInForm} *}
